.youtubeVideoLink {
    padding-left:20px;
    margin:10px 0;
    background-image:url("/_layouts/images/BeenJammin.SharePoint.CustomRibbonActions/youtubeicon16.gif");
    background-repeat:no-repeat;
}